*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: sans-serif;
    transform:capitalize ;
}


.contenedor{
    max-width: 1200px;
    margin:0 auto ; 
}

.footer{
   
    padding: 90px 0;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 30%; 
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: gray;
    margin-bottom: 25px;
  font-weight: 500; 
  
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 10px;
  
}

.footer-links ul li a{
    font-size: 17px;
    text-decoration: none;
    color: #000; 
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease; 
}


.footer-links ul li a:hover{ 
    color: gray;
    padding-left: 6px;
}

.social-link a{
    display: inline-block;
    min-height: 40px; 
    width: 40px;
    background-color:#00c3ff; 
   text-align: center;
    line-height: 40px;
    border-radius: 50%; 
    color: #fff;
    transition: all .5s ease; 
    margin-bottom: 30px;


}

.social-link a:hover{
    background-color:#44b749 ;
}


@media(max-width:991px){
    .footer-row{
        text-align: center;
    
}

.footer-links{
    width: 100%;
    margin-bottom: 30px;
}


.contenido{
    max-width: 1200px;
    margin:0 auto; 
}

